<div>
  <div class="container col-xs-12">

    <form class="well form-horizontal" action=" " method="post" id="contact_form">
      <fieldset>

        <!-- Form Name -->
        <legend>
          <center>
            <h2><b>Product Description</b></h2></center>
        </legend><br>


        <div class="form-group">
          <label class="col-md-4 control-label">Product Name:</label>
          <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
              <label class="form-control-static text-primary">{{model.productName}}</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Product Description:</label>
          <div class="col-md-8 inputGroupContainer">
            <div class="input-group">
              <label class="form-control-static text-primary">{{model.productDesc}}</label>
            </div>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4"><br>
            <!-- <button type="submit" class="btn btn-warning"  {{action "addProduct"}}>Add<span ></span></button> -->
            <button class="btn btn-warning" id="createQuiz" class="btn btn-primary" Style="width: 100px;" {{action "startQuiz" model.productName}}>Start Quiz</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
